<% include ../partials/header %>

<!--Main Menu Index-->
<div class="container">
    <div class="jumbotron jumbotronMain">
        <div class="container">
            <h1>Welcome to WePoll!</h1> 
        </div>
        <div class="container">
            <p>WePoll is a free to use app that helps people Represent Themselves!  Answer political, social, and economic polls to improve debate and Democracy!</p>
        </div>
    </div>
    <div class="container">
        <div>
            <h4><a href="/questions" class="btn btn-lg btn-success menu-button">Questions Page</a></h4>
        </div>
        <div>
            <h4><a href="/party" class="btn btn-lg btn-success menu-button">Party Page</a></h4>
        </div>
        <div>
            <h4><a href="/shop" class="btn btn-lg btn-success menu-button">Shop Page</a></h4>
        </div>
        <div>
            <h4><a href="/settings" class="btn btn-lg btn-success menu-button">Settings Page</a></h4>
        </div>
    </div>
</div>






<<<<<<< HEAD
<% include ../partials/footer %>
=======
<% include ../partials/footer %>
>>>>>>> 64dec788975e58d64441262c80bb2fc7fca5f9a6
