<% include ./partials/header %>

<!--Landing Page, Root Route -->
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the WePoll App</h1>
            <h4><a class="btn btn-lg btn-warning">What is WePoll? Interactive polling AppSite</a></h4>
        </div>
    </header>
    <div class="container">
        <h4 class="menuh4"><a href="/login" class="btn btn-lg btn-success">Make Sure to Log In Here</a></h4>
        <h4 class="menuh4"><a href="/register" class="btn btn-lg btn-success">New? Register Here</a></h4>
        <h4 class="menuh4"><a href="/mainmenu" class="btn btn-lg btn-success">Click here to go to Main Menu</a></h4>
    </div>
</div>







<% include ./partials/footer %>