<% include ./partials/header %>

<!--Register Page-->
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" id="logInTitle">
            <h2>Register Here</h2>
        </div>
    </div>
    <div class="container form-group form-horizontal">
        <form action="/register" method="POST">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ./partials/footer %>