html {
    position: relative;
    min-height: 100%;
}

body{
    background:lightblue;
    margin: 0 0 100px;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

#main-nav-bar{
    background-color:darkblue;
}

#logInTitle{
    padding:30px;
}

.jumbotronMain{
    margin-top:30px;
}

.menu-button{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

#questionNewHeader{
    margin:50px auto 50px auto;
}

.answerDisplay:focus{
    background:green;
}



.questionTitle{
    width:500px;
    /*margin:auto;*/
    padding:50px;
    text-align:center;
}

.eduLink{
    display:none;
}

#questionAnswered{
    display:none;
}

.menuh4{
    width:400px;
    padding:10px;
    margin:auto;
}

.thumbnail{
    border: 2px solid gray;
    margin:5px;
}

.indexDisplay{
    padding:2px;
}

.itemDisplay{
    width:200px;
    /*height:200px;*/
}

.coinImage{
    width:25px;
    height:25px;
}

.avatarImage{
    height:200px;
    width:200px;
}

.partyImage{
    height:100px;
    width:200px;
}

.itemDisplayProfile{
    /*width:50px;*/
    height:50px;
}

.profileTitle{
    padding:80px;
}

#main-nav-bar{
    background:rgba(0,180,255,1.0)
}

.navbar-dark .navbar-brand{
    padding:0;
    margin:0;
}

.xpProgress{
    width:250px;
    float:left;
}

#progressBarDetail{
    float:right;
}


#passwordJoke{
    display:none;
}

.btn-group-vertical .btn, .btn-group-vertical .btn-group{
    ;
}

.answerParent{
    width:100%;
}

.answerList{
    list-style: none;
    padding-left:0;
}

.answerList li{
    padding:10px 0 10px 0;
    margin:auto;
    width:200px;
}