body{
    background:lightblue;
}

#main-nav-bar{
    background-color:darkblue;
}

#logInTitle{
    padding:30px;
}

.jumbotronMain{
    margin-top:30px;
}

.menu-button{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

h4{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

#questionNewHeader{
    margin:50px auto 50px auto;
}

.answerDisplay:focus{
    background:green;
}

.answerList{
    list-style: none;
    padding-left:0;
}

.answerList li{
    padding:10px 0 10px 0;
    margin:auto;
    width:200px;
}

.questionTitle{
    width:500px;
    /*margin:auto;*/
    padding:50px;
    text-align:center;
}

.eduLink{
    display:none;
}

#questionAnswered{
    display:none;
}

.menuh4{
    width:400px;
    padding:10px;
    margin:auto;
}

.thumbnail{
    border: 2px solid gray;
    margin:5px;
}

.indexDisplay{
    padding:2px;
}

.itemDisplay{
    width:200px;
    /*height:200px;*/
}

.coinImage{
    width:25px;
    height:25px;
}

.avatarImage{
    height:100px;
    width:100px;
}

.partyImage{
    height:100px;
    width:200px;
}