<% include ../partials/header %>


<!--Party show route-->

<div class="container">
    <div class="container partyTitle">
        <h1><%=party.name%></h1>
    </div>
    <div>
        <h4><%=party.description%></h4>
        <img src="<%=party.image%>"></img>
        <h4>Party Level:<%=party.level%></h4>
    </div>
</div>


<% include ../partials/footer %>

