<% include ../partials/header %>

<!--About Index Page-->


<div class="container">
    <h1>What is WePoll? Glad you asked!</h1>
    
    <p>Lorem ipsum dolor amet health goth DIY thundercats, tousled photo booth swag bitters retro austin godard. Kinfolk cray schlitz banh mi squid vice deep v organic. Yr kitsch pug cloud bread readymade crucifix. Semiotics occupy seitan taxidermy. Church-key chicharrones next level, pinterest organic slow-carb cliche hoodie chillwave marfa listicle swag. Artisan pickled swag sriracha wolf VHS everyday carry next level cornhole marfa distillery single-origin coffee echo park. Umami tote bag hashtag disrupt.</p>
    <p>Drinking vinegar chillwave brooklyn, mumblecore 90's craft beer narwhal waistcoat. Godard post-ironic authentic, adaptogen stumptown tousled venmo iPhone small batch vegan meggings skateboard brunch vice heirloom. Migas lyft four dollar toast heirloom vinyl lumbersexual. Bicycle rights succulents intelligentsia banjo.</p>
    <p>Kitsch narwhal polaroid, schlitz plaid health goth enamel pin 8-bit pork belly af twee organic. Enamel pin crucifix plaid, man braid intelligentsia YOLO paleo hexagon la croix iceland. Narwhal vinyl iPhone health goth kogi. Unicorn 8-bit brooklyn venmo, knausgaard actually palo santo tilde messenger bag VHS. Activated charcoal everyday carry palo santo, blog venmo locavore tumblr dreamcatcher kombucha vexillologist poke air plant small batch. Irony narwhal vape, fashion axe brooklyn thundercats vinyl shaman brunch chambray ugh chia tote bag tofu. Raclette venmo meh meggings palo santo edison bulb portland.</p>
</div>


<% include ../partials/footer %>